#cont{
    display: flex;
    flex-direction: row;
    align-items: center;
}
ion-card-title{
    text-align: center;
}
#conti{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}