<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Datos de Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>Datos</ion-card-title>
    <ion-card-content>
    <h1>Contacto</h1>
    <div id="conti">
      <a href="mailto:javisancarr@gmail.com" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/gmail/gmail-icon.svg" alt="gmail" width="40" height="40"/> </a>

      <br>
      <a href="callto:+34654445291" target="_blank" rel="noreferrer"><img src="../../assets/img/telefono.jpg" alt="telefono" width="40" height="40"/></a>    
      
      <br>

        <a href="https://wa.me/654445291" target="_blank" rel="noreferrer">
          <img src="https://www.vectorlogo.zone/logos/whatsapp/whatsapp-tile.svg" alt="direccion" width="40" height="40"/>
        </a>
      </div>
    <br>
    <h1>Redes Sociales</h1>
    <div id="conti">
      <a href="https://www.linkedin.com/in/javier-s%C3%A1nchez-carrizo-99a95b225/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/linkedin/linkedin-icon.svg" alt="Linkedin" width="40" height="40"/> </a>
    <br>
      <a href="http://www.infojobs.net/javier-sanchez-101.prf" target="_blank" rel="noreferrer"> <img src="./../../assets/img/InfoJobs.jpg" alt="Linkedin" width="40" height="40"/> </a>
    <br>
      <a href="https://github.com/JavierS08" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/github/github-tile.svg" alt="Linkedin" width="40" height="40"/> </a>
  </div>
  <br>
    <h1>Información Adicional</h1>
    <div id="conti">
      <a href="https://drive.google.com/file/d/1yPr_hD7cLn34fMFc83_8oJSQMyNmOuhI/view?usp=sharing" download="cv.pdf" ><img src="https://www.cvwizard.es/favicon-512.png" width="40" height="40"></a>
    </div>
    </ion-card-content>
  </ion-card>
</ion-content>
