#spa{
    display: flex;
    justify-content: space-evenly;
}

ion-card-title{
    text-align: center;

}
h1{
    text-align: center;
}

#prog{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}