.spa{
    display: flex;
    justify-content: space-evenly;
}

ion-card-title{
    text-align: center;

}
h1{
    text-align: center;
}

#prog{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

.res{
    height: max-content;
    text-align: center;
    display: flex;
    justify-content: center;
    aling-items: center;
    flex-direction: column;
}
.long-text-item{
  white-space: normal !important;
  word-break: break-word !important;
}


