<ion-card>
  <ion-card-title>
    Tecnologías
  </ion-card-title>
  <ion-card-content>
    <h1>Lenguajes</h1>
      <div class="spa">
      <a href="https://www.python.org" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python" width="40" height="40"/> </a>
      <a href="https://www.scala-lang.org" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/scala/scala-original.svg" alt="scala" width="40" height="40"/> </a>
      <a href="https://www.java.com" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg" alt="java" width="40" height="40"/> </a>
      </div>
      <div class="spa">
      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="40" height="40"/> </a>
      <a href="https://kotlinlang.org" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/kotlinlang/kotlinlang-icon.svg" alt="kotlin" width="40" height="40"/> </a>
      <a href="https://www.php.net" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/php/php-original.svg" alt="php" width="40" height="40"/> </a>
      </div>
      <h1>Frameworks</h1>
      <div class="spa">
        <a href="https://laravel.com/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/laravel/laravel-plain-wordmark.svg" alt="laravel" width="40" height="40"/> </a>
        <a href="https://ionicframework.com" target="_blank" rel="noreferrer"> <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Ionic_Logo.svg" alt="ionic" width="40" height="40"/> </a>
        <a href="https://spring.io" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/springio/springio-icon.svg" alt="Spring" width="40" height="40"/> </a>
        <a href="https://spark.apache.org" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/apache_spark/apache_spark-ar21.svg" alt="Spark" width="50" height="50"/> </a>
        <a href="https://angular.io" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/angular/angular-icon.svg" alt="Angular" width="40" height="40"/> </a>

      </div>
      <h1>Bases de Datos</h1>
      <div class="spa">
        <a href="https://www.mysql.com/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql" width="40" height="40"/> </a>
        <a href="https://www.postgresql.org" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg" alt="postgresql" width="40" height="40"/></a>
        <a href="https://www.mongodb.com/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg" alt="mongodb" width="40" height="40"/> </a>
        <a href="https://www.oracle.com/es/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/oracle/oracle-icon.svg" alt="OracleDB" width="40" height="40"/> </a>


      </div>
      <h1>Herramientas</h1>
      <div class="spa">
          <a href="https://hadoop.apache.org/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/apache_hadoop/apache_hadoop-icon.svg" alt="hadoop" width="40" height="40"/> </a>
          <a href="https://powerbi.microsoft.com/es-es/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/microsoft_powerbi/microsoft_powerbi-ar21.svg" alt="Power BI" width="60" height="40"/> </a>
      </div>

    <h1>Plataformas Cloud</h1>
    <div class="spa">
      <a href="https://aws.amazon.com/es/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/amazon_aws/amazon_aws-ar21.svg" alt="AWS" width="80" height="40"/> </a>
      <a href="https://firebase.google.com/?hl=es" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/firebase/firebase-icon.svg" alt="Firebase" width="60" height="40"/> </a>
    </div>


    <h1>Control de versiones</h1>
    <div class="spa">
      <a href="https://git-scm.com/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="40" height="40"/> </a>
      <a href="https://github.com/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/github/github-icon.svg" alt="github" width="40" height="40"/> </a>
    </div>
  </ion-card-content>
</ion-card>
<h1>Descripción</h1>
<ion-slides pager="True">
  <ion-slide>
    <ion-card color="primary" class="res">
       <h1>Java:</h1>
      <ion-card-content><p>Creación de aplicaciones Cliente-Servidor
        <br>Creación de proyectos CRUD mediante Hibernate
        <br>Jakarta con persistencia de datos.
        <br>Versiones: 8, 11 y 17. Spring Core 5 y 6, Spring boot 2 y 3, Spring JPA</p></ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card color="primary" class="res">
      <h1>PHP:</h1>
      <ion-card-content>

        <p>Creación de aplicaciones web mediante el framework Laravel versión 9 usando Eloquent, OAuth 2.0, uso de Blade para la creación de plantillas. </p>
        <br>
        <p>Versión: 8.</p>
  </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card color="primary" class="res">
      <h1>Kotlin:</h1>
      <ion-card-content>
        <p> Creación aplicaciones CRUD en base de datos SQLite.</p>
        <br>
        <p>Creación de aplicaciones para diversas versiones de aplicaciones Android</p>
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card color="primary" class="res">
      <h1>Python:</h1>
      <ion-card-content> <p> Analisis de datos mediante el módulo Pandas, Numpy y Matplotlib.</p>
        <br>
        <p>Web-Scrapping mediante la librería Selenium</p>
        <br>
        <p>Uso de entornos como Anaconda utilizada para la ciencia de datos y el manejo de grandes volumenes de información</p>
        <br>
        <p>Creación de AWS Lambdas en Python 3.7, 3.8, 3.9 y 3.10</p>
        <br>
        <p>Versiones: 3.7, 3.8, 3.9</p>
       </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card color="primary" id="res">
      <h1>Control de versiones</h1>
      <ion-card-content>
        <p>Uso de Git y Github para crear repositorios compartidos y privados</p>
        <br>
        <p>Dominio de comandos básicos como git clone, git push, git add, git commit, git checkout, git status, git revert </p>
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card color="primary" class="res">
      <h1>Ionic:</h1>
      <ion-card-content>  <p> Creación de aplicaciones híbridas y emulación mediante Capacitor y Cordova.</p>
        <br>
        <p>Creación de APKs Android mediante Ionic, Capacitor y Android Studio</p>
        <br>
        <p>Integración de múltiples servicios como Firebase, PlanetScale</p>
        <br>
        <p>Creación de aplicaciones multiidiomas con ngx-translate</p>
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card color="primary" class="res">
      <h1>Amazon Web Services:</h1>
      <ion-card-content>  <p> Implementación de varios servicios en una arquitectura cliente como S3, Step Function, Lambda, Glue, RDS, Secret Manager, IAM.</p>
      <br>
        <p>Realización de múltiples arquitecturas en casos prácticos:</p>
        <ion-list>
          <ion-item>
            <ion-label>Arquitectura Serverless</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="long-text-item">Arquitectura Serverless
              Data Analytics</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="long-text-item">Arquitectura Híbrida para contenedores basada en cargas de trabajo</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card color="primary" class="res">
      <h1>Firebase:</h1>
      <ion-card-content>  <p> Implementación de varios servicios Firebase tanto en aplicaciones web como en aplicaciones móviles</p>
        <br>
        <ion-list>
          <ion-item>
            <ion-label>Firebase Authentication</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="long-text-item">Firebase Storage</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="long-text-item">Firestore</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>















