<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Curriculum
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-title>Javier Sánchez Carrizo</ion-card-title>
    <ion-card-content>
      <h1>FullStack Developer</h1>
      <ion-img src="../../assets/img/foto.png"></ion-img>
      <div id="aboutme">
        <h1>About Me</h1>
        Me considero un perfil favorable para las distintas empresas que quieran 
        contratar mis servicios debido a mis ganas por aprender profesionalmente y mis cualidades, ya sean mis conocimientos sobre la programación 
        y el lenguaje de marcas, o por mis habilidades pasivas  como la competitividad para lograr mis objetivos y por ende los de la empresa, 
        sumado a mi pasión por la informática hará que mi aprendizaje sea mucho más rápido y eficaz , el trabajo en equipo, 
        vital en cualquier infraestructura laboral o mis cualidades sociales, muy necesarias para la presentación de distintos proyectos. 
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
